<h1>Listing albums</h1>

<table>
  <tr>
    <th>Album name</th>
    <th>Album description</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @albums.each do |album| %>
  <tr>
    <td><%= album.album_name %></td>
    <td><%= album.album_description %></td>
    <td><%= album.user_id %></td>
    <td><%= link_to 'Show', album %></td>
    <td><%= link_to 'Edit', edit_album_path(album) %></td>
    <td><%= link_to 'Destroy', album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>

  <% for asset in album.assets %>
      <%= link_to image_tag(asset.asset.url(:medium)), asset %> &nbsp;
  <% end %>

<% end %>
</table>

<br />

<%= link_to 'New Album', new_album_path %>

<h3> About </h3>
<p> Hello, and welcome to SharePhoto, the simple social networking site for sharing your family photos.  Quickly login  <br> and start sharing your priceless family photos with members of your family over this private, family oriented website.
</p>

<h3> Contact </h3>
<p> If you have any questions about SharePhoto, send us an email.
    <br> Email us at (enter email here)
</p>