<!DOCTYPE html>
<html>
<center>
<head>
  <title>SharePhoto</title>
  <%= stylesheet_link_tag    'jquery-ui-1.10.1.custom.min.css', "application", :media => "all" %>
  <%= javascript_include_tag 'jquery-1.9.1.min.js', 'jquery-ui-1.10.1.custom.min.js', "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="allContent">
		<% if signed_in? %>
		    <span class="headMenuItem"><%= link_to "Logout", signout_path, method: "delete" %></span>
		<% end %>
	</div>

	<%= yield %>

	<div class="footer">&copy; <%= (DateTime.now).to_date.year %> Casey Ochs</div>
</body>
</center>
</html>
